.grp {
  background-color: antiquewhite;
  display: inline-block;
  border: 2px solid black;
  height: 20px;
}
.grps_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  gap: 3px;
  margin: 3px 0px 3px 3px;
  height: calc(100% - 6px);
  overflow-y: scroll;
}
.selected {
  transition: all 0.5s;
  background-color: aqua;
}
